<div class="bg-snow-dark br-pill pa1 dib">
  <% @switches.each do |switch|
    id = "#{@name}-#{SecureRandom.hex(4)}"%>
    <input
      id="<%= id %>"
      name="<%= @name %>"
      type="radio"
      class="switch-radio clip"
      <%= 'checked' if switch[:checked]  %> />
    <label for="<%= id %>" class="switch-radio-label">
      <%= switch[:label] %>
    </label>
  <% end %>
</div>
