<div class="bg-snow-dark br-pill pa1 inline-flex items-center">
  <% @switches.each do |switch|
    id = "#{@name}-#{SecureRandom.hex(4)}"
    tooltip_id = "#{@name}-#{SecureRandom.hex(4)}"%>
    <input
      id="<%= id %>"
      name="<%= @name %>"
      type="radio"
      class="switch-radio clip"
      <%= 'checked' if switch[:checked]  %> />
    <label for="<%= id %>" class="switch-radio-label"
      aria-describedby="<%= tooltip_id %>">
      <%= switch[:label] %>
      <% if switch[:tooltip] %>
        <%= render(TooltipComponent.new(id: tooltip_id, classes: 'silver mv0-ns', width: switch[:tooltip_width] )) do %>
          <%= switch[:tooltip] %>
        <% end %>
      <% end %>
    </label>
  <% end %>
</div>
