<div class="bg-snow-light br4 pa1 dib">
  <% @switches.each do |switch|
    id = "#{@name}-#{SecureRandom.hex(4)}"%>
    <input
      id="<%= id %>"
      name="<%= @name %>"
      type="radio"
      class="radio-switch clip"
      <%= 'checked' if switch[:checked]  %> />
    <label for="<%= id %>" class="radio-switch-label">
      <%= switch[:label] %>
    </label>
  <% end %>
</div>
