<header class="bb b--smoke-light pv4 ph5">
  <div class="flex items-center justify-between center mw9">
    <ol class="list ma0 pa0 flex items-center
    breadcrumbs">
      <li class="dib">
        <a class="db link black hover-steel bg-snow hover-bg-snow-light active-bg-snow-dark ph1 br-100 ba bw3 b--snow hover-b--snow-light active-b--snow-dark" href="/"><%= svg_asset("pusher-icon", class: "db") %></a>
      </li>
      <li class="dib">
        <%= render(ButtonComponent.new(color: 'snow', size: 'small')) do %>
          Channels
        <% end %>
      </li>
      <li class="dib fw6" aria-current="page">
        Howling kettle spade
      </li>
    </ol>

    <nav>
      <ul class="list pa0 ma0">
        <li class="dib ml5">
          <%= render(ButtonComponent.new(style: "outline", size: 'small')) do %>
            Feedback
          <% end %>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6">
            Support
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6">
           Docs
          </a>
        </li>
        <%= render(DropdownMenuComponent.new(
          label: "Account",
          wrapper_element: "li",
          wrapper_classes: "dib ml5",
          children: [
            {
              label: "Account",
              href: "#account"
            },
            {
              label: "Billing",
              href: "#billing"
            },
            {
              label: "Sign out",
              href: "#sign-out"
            }
          ]
        )) %>
      </ul>
    </nav>
  </div>
</header>

<header class="bb b--smoke-light pt4 ph5">
  <div class="flex items-center justify-between center mw9">
  <h3 class="f6 f5-l   flex items-center ma0">
    <%= render(IconComponent.new(name: 'channels-icon', title: 'Channels', size: 40, classes: 'channels mr3')) %>
    Channels
  </h3>

    <nav>
      <ul class="list pa0 ma0">
        <li class="dib ml5">
          <%= render(ButtonComponent.new(style: "outline", size: 'small')) do %>
            Feedback
          <% end %>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6">
            Support
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6">
           Docs
          </a>
        </li>
        <%= render(DropdownMenuComponent.new(
          label: "Account",
          wrapper_element: "li",
          wrapper_classes: "dib ml5",
          children: [
            {
              label: "Account",
              href: "#account"
            },
            {
              label: "Billing",
              href: "#billing"
            },
            {
              label: "Sign out",
              href: "#sign-out"
            }
          ]
        )) %>
      </ul>
    </nav>
  </div>
  <div class="flex items-center justify-between center mw9 mt6">
    <nav>
      <ul class="list pa0 ma0">
        <li class="dib">
          <a href="#" class="db link black hover-slate fw6 pb3 bb bw1 b--black hover-b--slate focus-b--slate">
            Overview
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6 pb3 bb bw1 b--white hover-b--slate focus-b--slate">
           Apps
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6 pb3 bb bw1 b--white hover-b--slate focus-b--slate">
           Stats
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6 pb3 bb bw1 b--white hover-b--slate focus-b--slate">
           Plans
          </a>
        </li>
        <li class="dib ml5">
          <a href="#" class="db link black hover-slate fw6 pb3 bb bw1 b--white hover-b--slate focus-b--slate">
           Settings 
          </a>
        </li>
      </ul>
    </nav>
    <%= render(ButtonComponent.new(color: "dragonfruit", type: 'submit', size: 'small', classes: 'mb2')) do %>
      Create app
    <% end %>
  </div>
</header>

<div class="pv4 ph5 flex items-center flex-wrap justify-between">
  <h2 class="mt6 heading-level-2">Overall usage</h3>
  <form class>
    <%= render(SwitchComponent.new(name: 'period',
                switches: [
                {label: 'Today', checked: true},
                {label: 'Yesterday'},
                {label: 'Live'}])) %>
  </form>
  <div class="w-100 g2x-ns gg2">
    <%= render(UsageLineComponent.new(title: 'Concurrent connections today', usage: 67636, limit: 100000)) %>
    <%= render(UsageLineComponent.new(title: 'Messages sent today', usage: 750636, limit: 5000000)) %>
  </div>
</div>


<div class="pa6">
  <h1 class="f1 mv7">Pusher design system</h1>

  <h2 class="mt6 heading-level-2 slate">Typography</h3>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f1 / 52px</code>
    <h1 class="f1">The quick brown fox jumps over the lazy&nbsp;dog</h1>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f2 / 36px</code>
    <h2 class="f2">The quick brown fox jumps over the lazy&nbsp;dog</h2>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f3 / 28px</code>
    <h3 class="f3">The quick brown fox jumps over the lazy&nbsp;dog</h3>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f4 / 24px</code>
    <h4 class="f4">The quick brown fox jumps over the lazy&nbsp;dog</h4>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f5 / 20px</code>
    <h5 class="f5">The quick brown fox jumps over the lazy&nbsp;dog</h5>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f6 / 18px</code>
    <h5 class="f6">The quick brown fox jumps over the lazy&nbsp;dog</h5>
  </div>

  <div class="flex items-center">
    <code class="dragonfruit w5 mr3 f8">.f7 / 16px</code>
    <h5 class="f7">The quick brown fox jumps over the lazy&nbsp;dog</h5>
  </div>

  <div class="flex items-center mb7">
    <code class="dragonfruit w5 mr3 f8">.f8 / 14px</code>
    <h5 class="f8">The quick brown fox jumps over the lazy&nbsp;dog</h5>
  </div>

  <div class="flex items-top">
    <code class="dragonfruit w5 mr3 f8">.heading-level-1 / <span class="dn dib-l">28px</span><span class="dn-l">24px</span></code>
    <h1 class="heading-level-1">The quick brown fox jumps over the lazy&nbsp;dog</h1>
  </div>

  <div class="flex items-top">
    <code class="dragonfruit w5 mr3 f8">.heading-level-2 / <span class="dn dib-l">24px</span><span class="dn-l">20px</span></code>
    <h2 class="heading-level-2">The quick brown fox jumps over the lazy&nbsp;dog</h2>
  </div>

  <div class="flex items-top">
    <code class="dragonfruit w5 mr3 f8">.heading-level-3 / <span class="dn dib-l">20px</span><span class="dn-l">18px</span></code>
    <h3 class="heading-level-3">The quick brown fox jumps over the lazy&nbsp;dog</h3>
  </div>

  <div class="flex mb5">
    <code class="dragonfruit w5 mr3 f8">p / <span class="dn dib-l">18px</span><span class="dn-l">16px</span></code>
    <div>
      <p class="measure"> Maison Neue is the completely reworked version of our original Maison typeface family. While the earlier version was constructed using rigid elements, Maison Neue has been meticulously redrawn to be less formulaic and have a stronger focus on optical criteria to create a distinct grotesque paying greater attention to harmony, rhythm and flow.</p>
      <p class="measure">In 2017, Maison Neue was further developed and expanded into a super family of 40 styles. This includes the subtly condensed original version, an extended counterpart, a mono-spaced alignment—all featuring additional weights within each family.</p>
    </div>
  </div>
</div>

<div class="pa6">
  <h2 class="mt6 heading-level-2 slate">Palette</h2>

  <div class="g4x gg3 mb6">
    <div>
      <div class="h4 white fw7 br3 bg-black">
        <code class="dib pa3 f6">--black</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 br3 bg-steel">
        <code class="dib pa3 f6">--steel</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 br3 bg-slate">
        <code class="dib pa3 f6">--slate</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 br3 bg-silver">
        <code class="dib pa3 f6">--silver</code>
      </div>
    </div>
  </div>

  <div class="g4x gg3 mb6">
    <div>
      <% ['-light', '', '-dark'].each_with_index do |variant, index| %>
        <div class="<%= variant == '' ? 'h4' : 'h3' %> white fw7 bg-dragonfruit<%= variant %> <% if index == 0 %>br3 br--top<% end %> <% if index == 2 %>br3 br--bottom<% end %>">
          <code class="dib pa3 f6">--dragonfruit<%= variant %></code>
        </div>
      <% end %>
    </div>
  </div>
  <div class="g4x gg3 mb6">
    <div>
      <% ['-light', '', '-dark', '-wash'].each_with_index do |variant, index| %>
        <div class="<%= variant == '' ? 'h4' : 'h3' %> white fw7 bg-starflower<%= variant %> <% if index == 0 %>br3 br--top<% end %> <% if index == 3 %>br3 br--bottom<% end %>">
          <code class="dib pa3 f6">--starflower<%= variant %></code>
        </div>
      <% end %>
    </div>
    <div>
      <% ['-light', '', '-dark', '-wash'].each_with_index do |variant, index| %>
        <div class="<%= variant == '' ? 'h4' : 'h3' %> white fw7 bg-kale<%= variant %> <% if index == 0 %>br3 br--top<% end %> <% if index == 3 %>br3 br--bottom<% end %>">
          <code class="dib pa3 f6">--kale<%= variant %></code>
        </div>
      <% end %>
    </div>
    <div>
      <% ['-light', '', '-dark', '-wash'].each_with_index do |variant, index| %>
        <div class="<%= variant == '' ? 'h4' : 'h3' %> white fw7 bg-pumpkin<%= variant %> <% if index == 0 %>br3 br--top<% end %> <% if index == 3 %>br3 br--bottom<% end %>">
          <code class="dib pa3 f6">--pumpkin<%= variant %></code>
        </div>
      <% end %>
    </div>
    <div>
      <% ['-light', '', '-dark', '-wash'].each_with_index do |variant, index| %>
        <div class="<%= variant == '' ? 'h4' : 'h3' %> white fw7 bg-radish<%= variant %> <% if index == 0 %>br3 br--top<% end %> <% if index == 3 %>br3 br--bottom<% end %>">
          <code class="dib pa3 f6">--radish<%= variant %></code>
        </div>
      <% end %>
    </div>
  </div>

  <div class="g4x gg3 mb6">
    <div>
      <div class="h4 white fw7 bg-smoke-light br3 br--top">
        <code class="dib pa3 f6">--smoke-light</code>
      </div>
      <div class="h3 white fw7 bg-smoke">
        <code class="dib pa3 f6">--smoke</code>
      </div>
      <div class="h3 white fw7 bg-smoke-dark br3 br--bottom">
        <code class="dib pa3 f6">--smoke-dark</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 bg-snow-light br3 br--top">
        <code class="dib pa3 f6">--snow-light</code>
      </div>
      <div class="h3 white fw7 bg-snow">
        <code class="dib pa3 f6">--snow</code>
      </div>
      <div class="h3 white fw7 bg-snow-dark br3 br--bottom">
        <code class="dib pa3 f6">--snow-dark</code>
      </div>
    </div>
  </div>

  <div class="g4x gg3 mb6">
    <div>
      <div class="h4 white fw7 bg-eggplant br3">
        <code class="dib pa3 f6">--eggplant</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 bg-channels br3">
        <code class="dib pa3 f6">--channels</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 bg-chatkit br3">
        <code class="dib pa3 f6">--chatkit</code>
      </div>
    </div>
    <div>
      <div class="h4 white fw7 bg-beams br3">
        <code class="dib pa3 f6">--beams</code>
      </div>
    </div>
  </div>
</div>

<div class="ph6">
  <h2 class="mt6 heading-level-2 slate">Sign up</h2>
</div>
<div class="g2x-ns gg2-m gg4-l pa5-m pa7-l mw9 center">
  <%= render(BoxComponent.new()) do %>
    <%= svg_asset("pusher-logo", class: "ma5") %>
    <h1 class="heading-level-1 ph5">Trusted by great companies to
  power their realtime&nbsp;experiences</h1>
    <div class="pa5 mv6 bg-snow-light br2 g2x gg3">
      <div class="fw7 f4 tc">logo</div>
      <div class="fw7 f4 tc">logo</div>
      <div class="fw7 f4 tc">logo</div>
      <div class="fw7 f4 tc">logo</div>
    </div>
    <%= render(BlockquoteComponent.new(cite_name: "Nick Tyler", cite_role: "Director of Engineering, GoGuardian")) do %>
      “We deal with students’ data, which comes with serious privacy requirements. We wouldn’t be able to do what we do without Pusher.”
    <% end %>
  <% end %>
  <div class="flex flex-column justify-between">
    <%= render(BoxComponent.new()) do %>
      <%= render(ButtonComponent.new(type: "submit", with_icon: true, color: "black", classes: "w-100")) do %>
        <%= svg_asset("github", class: "mr3") %>
        Continue with GitHub
      <% end %>
      <%= render(ButtonComponent.new(type: "submit", with_icon: true, color: "starflower", classes: "w-100 mt5")) do %>
        <%= svg_asset("google", class: "mr3") %>
        Continue with Google
      <% end %>

      <%= render(DividerPillComponent.new(text: "or use email")) %>
  
      <%= form_with do %>
        <%= render(InputTextComponent.new(
          container_classes: "mb4",
          label: "Email address",
          type: "email",
          name: "email",
          id: "email",
          placeholder: "your.name@email.com",
          required: true
        )) %>
        <%= render(InputTextComponent.new(
          container_classes: "mb4",
          label: "Password",
          type: "password",
          id: "password",
          placeholder: "••••••••••••••••",
          error: "Password must be at least 8 characters"
        )) %>
        <%= render(InputCheckboxComponent.new(
          container_classes: "mb4",
          label: "Remember me",
          id: "remember"
        )) %>
        <div class="mt5">
          <%= render(ButtonComponent.new(color: "dragonfruit", type: 'submit')) do %>
            Sign up
          <% end %>
        </div>
      <% end %>
    <% end %>

    <p class="pa5 slate">By signing up, you’re agreeing to the <a class="link underline black" href="#">Pusher terms of service</a>. View our <a class="link underline black" href="#">Privacy policy</a>.</p>

    <%= render(BoxComponent.new()) do %>
      <p class="slate">Already registered? <a class="link underline black" href="#">Sign into existing account</a>.</p>
    <% end %>
  </div>
</div>
